<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>채팅존</title>
<link rel="stylesheet" type="text/css" href="../css/template.css" />
<link rel="stylesheet" type="text/css" href="../css/chatting.css" />
<link rel="stylesheet" type="text/css" href="../css/css.css"  />
<link rel="stylesheet" type="text/css" href="../css/head.css" />

<script type="text/javascript" src="../../plugin/require/require.js"></script>
<script type="text/javascript" src="../../plugin/require/requireConfig.js"></script>  
</head>
<body class=""> 
	<div class="_contents_body chat_pop">
      	<!-- 채팅 컨테이너 -->
		<div class="chat_container" >
			<div class="all">
    			<div class="header_chating">
      				<h1 class="name_chating">Testing (3 명)</h1>
        			<button class="pop_setting">
        				<img src="http://s.cmstatic.net/pcweb/res/153600/images/chat/icon_setting_default.png" width="26" height="6">
        			</button>
      				<div class="pop_menu menu_num_4" style="display:none">
        				<ul class="menu_list">
          					<li class="chat_member"><a href="#">대화 멤버</a></li>
          					<li class="invite_friends"><a href="#">친구 초대</a></li>
          					<li class="delete_chat"><a href="#">대화내용 삭제</a></li>
          					<li class="quit_chatroom"><a href="#">대화방 나가기</a></li>
        				</ul>
      				</div>
    			</div>
    			<div class="container_chating chat_main chatroom">
      				<div id="chat_list">
      					<div class="chat_list">
      						<div class="_chat_list_container">
      							<div class="log_wrap log_previous" style="display: none;">
    								<a style="" href="#" class="log_inner">
    									<span class="txt">이전 대화 더 보기</span>
    								</a>
								</div>
      						</div>
      					</div>		
      				</div>      
    			</div>
		<div class="new_message_alert_wrap" style="display: none; opacity: 0;">
			<p class="message_txt"></p>
		</div>
		<div class="_chat_input_wrap">
			<form class="chat_input">
				<div class="chat_btn_wrap">
					<span class="pop_photo">
						<input type="file" class="find_photo" id="btn_chat_pop_photo_upload">
					</span>
				</div>
				<div class="msg_form">	
					<textarea type="input" name="msg_input" class="msg_input _use_keyup_event" placeholder="내용을 입력하세요"></textarea>
					<input type="submit" class="msg_sutmit" value="전송" style="opacity: 0; z-index: 1;">
				</div>
			</form>
		</div>

    	<div class="deemed"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
		 require(["../js/chatting","jquery"],function(Chatting,$){
			 $(document).on("contextmenu","._prevent_context",function(){
					return false;
			 });
             Chatting.init({
            	  
             });
		 });
</script>	
</body>
</html>