@charset "UTF-8";

.chat_pop .dim{z-index:9;background-image:url(images/dot_000_70.png);}

.chat_pop{overflow:hidden;position:relative;width:100%;min-width:400px;min-height:360px;margin:0 auto;padding:0;}
.chat_pop.type_layer{width:auto;height:auto;background:none;}
.chat_pop .status_bar{position:fixed;left:0;right:0;top:0;z-index:10;height:50px;min-width:400px;text-align:center;border-bottom:1px solid #bdbdbd;background:#fff;}
.chat_pop .status_bar strong{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;padding:0 45px;line-height:50px;color:#333;font-size:16px;}
.chat_pop .status_bar strong .member_num{color:#5dd385;font-size:14px;}
.chat_pop .header_chating .pop_setting{position:absolute;right:25px;bottom:20px;width:26px;height:21px;margin:0;padding:0;border:0;background:url(images/icon_setting_mouseover.png) no-repeat 0 50%;;cursor:pointer;}
.chat_pop .header_chating .pop_setting img{position:relative;top:6px;}
.chat_pop .header_chating .pop_setting:hover img{visibility:hidden;}
.chat_pop .pop_menu{display:none;position:absolute;top:50px;width:100%;height:99px;padding-bottom:1px;background:#585862;border-top:1px solid #45454e;border-bottom:1px solid #cacacc;}
.chat_pop .pop_menu .menu_list{overflow:hidden;zoom:1;height:100%;text-align:left;border-bottom:1px solid #45454e;white-space:nowrap;}
.chat_pop .pop_menu .menu_list li{display:inline-block;width:33.33%;height:100%;border-left:1px solid #4d4d56;}
.chat_pop .pop_menu.menu_num_4 li{width:25%;}
*:first-child+html .chat_pop .pop_menu .menu_list li{display:inline;}
.chat_pop .pop_menu .menu_list li:first-child{border-left:0;}
.chat_pop .pop_menu .menu_list li a{display:block;width:100%;height:100%;line-height:139px;text-align:center;color:#cdcdd0;}
.chat_pop .pop_menu .menu_list li.chat_member a{background:url(images/ico_chat_member.png) no-repeat center 23px;}
.chat_pop .pop_menu .menu_list li.invite_friends a{background:url(images/ico_invite_friends.png) no-repeat center 23px;}
.chat_pop .pop_menu .menu_list li.delete_chat a{background:url(images/ico_delete_chat.png) no-repeat center 24px;}
.chat_pop .pop_menu .menu_list li.quit_chatroom a{background:url(images/ico_quit_chatroom.png) no-repeat center 25px;}

.chat_pop .pop_form{position:absolute;top:50px;width:100%;height:74px;background:#fff;border-top:1px solid #bdbdbd;border-bottom:1px solid #dddddf;}
.chat_pop .pop_form .band_select{position:absolute;z-index:1;left:20px;top:20px;width:140px;height:37px;}
.chat_pop .pop_form .band_select .selected_name{display:block;width:80px;padding:0 44px 0 10px;line-height:35px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;color:#666c6f;background:url(images/ico_select_down.png) no-repeat 119px 15px;}
.chat_pop .pop_form .band_select.on .selected_name{background-image:url(images/ico_select_up.png);}
.chat_pop .pop_form .band_select .band_list{position:absolute;top:35px;left:-9999px;width:322px;height:205px;overflow:hidden;overflow-y:auto;background:#fff;border:1px solid #d1d1d1;border-radius:0 0 3px 3px;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(Opacity=0)";}
.chat_pop .pop_form .band_select .band_list.on{left:0;opacity:1;filter:alpha(opacity=100);-ms-filter:"alpha(Opacity=100)";}
.chat_pop .pop_form .band_select .band_list li{position:relative;overflow:hidden;display:block;width:100%;height:auto;padding:11px 0;text-align:left;border:0;border-radius:0;vertical-align:middle;}
.chat_pop .pop_form .band_select .band_list li:hover{background:#f1f1f1;}
.chat_pop .pop_form .band_select .band_list li label{display:block;height:100%;padding-left:10px;font-size:14px;cursor:pointer;}
.chat_pop .pop_form .band_select .band_list li input{position:absolute;height:36px;left:-9999px;top:0;}
.chat_pop .pop_form .band_select .band_list li:last-child{border-bottom:0;}
.chat_pop .pop_form .member_search{position:absolute;left:167px;top:20px;width:230px;height:35px;border:1px solid #d2d2d7;border-radius:3px;background:#fff;}
.chat_pop .pop_form .member_search label{position:absolute;z-index:1;left:30px;top:8px;width:180px;color:#adb1b5;font-size:14px;text-align:left;visibility:hidden;}
.chat_pop .pop_form .member_search .search_input{position:absolute;left:11px;top:8px;width:150px;height:20px;line-height:20px;font-size:14px;background:none;border:0;}
.chat_pop .pop_form .member_search .search_input::-ms-clear {display: none;}
.chat_pop .pop_form .member_search .search_submit{position:absolute;right:0;top:0;width:36px;height:36px;margin:0;padding:0;text-align:center;border:0;background:none;cursor:pointer;}
.chat_pop .pop_form .member_search .search_submit.on img{visibility:hidden;}
.chat_pop .pop_form .member_search .search_submit.on{background:url(images/search_submit_on.png) no-repeat 50% 50%;}
.chat_pop .pop_form .member_search .search_x{display:none;position:absolute;right:36px;top:9px;width:17px;height:17px;margin:0;padding:0;background:none;border:0;cursor:pointer;}

.chat_pop .chat_main{position:fixed;top:51px;bottom:127px;left:0;width:100%;min-width:400px;overflow:hidden;overflow-y:auto;padding-top:18px;background:#fafafa;}
.chat_pop.on_sticker .chat_main{bottom:322px;}
.chatroom .log_wrap{clear:both;margin-bottom:-4px;}

.chatroom .log_previous{background:#f0f0f0;position:relative;top:-19px;}
.chatroom .log_previous .log_inner{position:relative;display:block;margin:1px;padding:9px 0;color:#5c5d5d;font-size:12px;text-align:center;text-decoration:none;}
.chatroom .log_previous .log_inner .txt{padding-left:13px;line-height:26px;font-size:12px;}

.chatroom .log_my{overflow:hidden;zoom:1;padding-right:20px;}
.chatroom .log_my .pf_img,
.chatroom .log_my .pf_name{display:none;}
.chatroom .log_my .msg{position:relative;float:right;max-width:62%;padding-bottom:29px;text-align:right;font-size:0;}
.chatroom .log_my .msg .msg_main{display:inline-block;width:95%;word-wrap:break-word;padding-right:9px;text-align:left;background:url(images/chating_msg_bg_my.gif) no-repeat 100% 0;}
*:first-child+html .chatroom .log_my .msg .msg_main{display:inline;}
.chatroom .log_my .msg .msg_main ._message_body_wrap{word-wrap:break-word;padding:10px 12px;font-size:14px;color:#353737;background:#ffb81e;/*border-radius:5px 0 5px 5px;*/}
.chatroom .log_my .msg.msg_sticker .msg_main,
.chatroom .log_my .msg.msg_sticker .msg_main ._message_body_wrap{background:none;}
.chatroom .log_my .msg.msg_photo .msg_main ._message_body_wrap{padding:3px;}
.chatroom .log_my .msg.msg_photo .msg_main ._message_body_wrap img{border-radius:5px;}
.chatroom .log_my .msg .msg_aside{position:absolute;right:100%;bottom:27px;padding-right:6px;white-space:nowrap;text-align:right;}
.chatroom .log_my .msg .msg_aside .read{display:block;color:#858585;font-size:11px;}
.chatroom .log_my .msg .msg_aside .time{display:block;color:#c8c8c;font-size:11px;}

.chatroom .log_friend{overflow:hidden;zoom:1;position:relative;max-width:48%;padding:0 110px 0 70px;}
.chatroom .log_friend .pf_img{position:absolute;left:20px;top:0;}
.chatroom .log_friend .pf_name{position:relative;left:2px;top:0;display:block;}
.chatroom .log_friend .pf_name .author{}
.chatroom .log_friend .pf_name .pf_nick{color:#999;}
.chatroom .log_friend .msg{position:relative;float:left;display:inline-block;padding-top:5px;padding-bottom:29px;font-size:0;}
.chatroom .log_friend .msg .msg_main{display:inline-block;word-wrap:break-word;padding-left:9px;text-align:left;background:url(images/chating_msg_bg_you.gif) no-repeat 0 0;}
*:first-child+html .chatroom .log_friend .msg .msg_main{display:inline;}
.chatroom .log_friend .msg .msg_main ._message_body_wrap{padding:10px 12px;color:#353737;font-size:14px;background:#ededf0;/*border-radius:0 5px 5px 5px;*/word-break: break-word;}
.chatroom .log_friend .msg:hover .msg_main{background-image:url(images/bubble_knob_over.png);}
.chatroom .log_friend .msg:hover .msg_main ._message_body_wrap{background:#e7e7eb;}
.chatroom .log_friend .msg .msg_main ._message_body_wrap a{word-break:break-all;}
.chatroom .log_friend .msg .msg_main .chat_report{display:none;position:absolute;z-index:2;left:9px;bottom:0;padding:3px 8px 4px 26px;white-space:nowrap;color:#555;font-size:12px;border:1px solid #c3c3c8;border-radius:4px;background:#fff url(images/template/ico_report_on.png) no-repeat 7px 50%;}
.chatroom .log_friend .msg:hover .msg_main .chat_report{display:block;}
.chatroom .log_friend .msg.msg_sticker .msg_main,
.chatroom .log_friend .msg.msg_sticker .msg_main ._message_body_wrap{background:none;}
.chatroom .log_friend .msg.msg_photo .msg_main ._message_body_wrap{padding:3px;}
.chatroom .log_friend .msg.msg_photo .msg_main ._message_body_wrap img{border-radius:5px;}
.chatroom .log_friend .msg .msg_aside{position:absolute;left:100%;bottom:27px;padding-left:7px;white-space:nowrap;text-align:left;}
.chatroom .log_friend .msg .msg_aside .read{display:block;color:#858585;font-size:11px;}
.chatroom .log_friend .msg .msg_aside .time{display:block;color:#c8c8c;font-size:11px;}

.chatroom .log_event{margin:3px 20px 22px;}
.chatroom .log_event p{padding:2px 0 3px;text-align:center;background:#f0f0f0;color:#c2c3c5;font-size:12px;border-top-left-radius:11px 9px;border-top-right-radius:11px 9px;border-bottom-right-radius:11px 9px;border-bottom-left-radius:11px 9px	;}
.chatroom .log_event:first-child{margin-top:15px !important;background:red;}
.chatroom .log_event.log_invite .log_inner{margin:0 20px;}
.chatroom .log_event.log_new{}
.chatroom .log_friend .msg.log_3rd,
.chatroom .log_friend .msg.log_3rd .msg_main{width:100%;}
.chatroom .log_friend .msg.log_3rd .msg_aside{padding-left:14px;}
.chatroom .log_my .msg.log_3rd .msg_main{width:100%;}
body:first-of-type .chatroom .msg.log_3rd .msg_main p{line-height:19px;}
.chatroom .msg.log_3rd .msg_main p{margin-bottom:1px;}
.chatroom .msg.log_3rd .msg_main p .app_alert{position:static;display:block;padding-bottom:8px;line-height:44px;color:#666;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal !important;width: 100%;}
.chatroom .msg.log_3rd .msg_main p .app_alert img{margin-right:7px;border-radius:8px;}
.chatroom .msg.log_3rd .msg_main p .item_img{position:static;display:block;padding-top:7px;}
.chatroom .msg.log_3rd .msg_main p .item_img img{border-radius:10px;}
.chatroom .msg.log_3rd .msg_main p .no_raidus{border-radius:0;}
.chatroom .msg.log_3rd .msg_main p .third_party_link{position:relative;left:-12px;bottom:-10px;display:block;width:100%;padding:10px 14px 10px 10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal !important;border-top:1px solid #d6d6d6;color:#666;font-weight:bold;background:url(images/icon_link.png) no-repeat 95% 50%;}
.chatroom .log_my .msg.log_3rd .msg_main p .third_party_link{border-top-color:#b4dbc2;color:#353737;background-image:url(images/icon_link2.png);}

.chatroom .msg.msg_voice .msg_main ._message_body_wrap{padding:0;font-size:0;}
.chatroom .msg .msg_main .voice_box{display:inline-block;overflow:hidden;zoom:1;height:38px;padding:0 10px 0 0;background:none;}
*:first-child+html .chatroom .log_friend .msg .msg_main .voice_box{display:inline;}
.chatroom .msg .msg_main .voice_box .player_status{float:left;width:37px;height:100%;text-indent:-9999px;border-right:1px solid #d7f4e1;background:url(images/btn_player_stop.png) no-repeat 50% 50%;}
.chatroom .msg .msg_main .voice_box.stop .player_status{background:url(images/btn_player_play.png) no-repeat 50% 50%;}
.chatroom .msg .msg_main .voice_box .play_status{float:left;height:100%;}
.chatroom .msg .msg_main .voice_box .play_status .time_txt{display:inline-block;height:100%;padding:0 26px 0 10px;line-height:38px;font-size:14px;font-family:verdana;color:#353737;/*background:url(images/board/bg_player_on.gif) no-repeat 100% 50%;*/}
.chatroom .msg .msg_main .voice_box .play_status .time_txt span{font-size:14px;font-family:verdana;}
.chatroom .msg .msg_main .voice_box.stop .play_status .time_txt{background:url(images/bg_player_off.png) no-repeat 100% 50%;}

.chatroom .log_friend .msg .msg_main .voice_box{}
.chatroom .log_friend .msg .msg_main .voice_box .player_status{border-color:#d0d0d3;background-image:url(images/btn_player_stop2.png);}
.chatroom .log_friend .msg .msg_main .voice_box.stop .player_status{background-image:url(images/btn_player_play2.png);}
.chatroom .log_friend .msg .msg_main .voice_box .play_status .time_txt{color:#333;}
.chatroom .log_friend .msg .msg_main .voice_box.stop .play_status .time_txt{background-image:url(images/bg_player_off2.png);}

.chatroom.into_the_chatroom{background:#fff;padding:270px 0 0;text-align:center;font-size:14px;color:#777;}
.chatroom.into_the_chatroom p{font-size:14px;color:#777;}
.chatroom.into_the_chatroom .re_entry{overflow:hidden;display:inline-block;margin-top:17px;padding:9px 18px 9px 42px;color:#fff;font-size:13px;border-radius:2px;background:#0084ff url(images/ico_1.png) no-repeat 20px 50%;}

.chat_pop .new_message_alert_wrap{position:fixed;z-index:7;bottom:127px;left:0;width:100%;height:43px;min-width:400px;margin:0;color:#fff;background:url(images/dot_494951_90.png) repeat;}
.chat_pop.on_sticker .new_message_alert_wrap{bottom:322px;}
.chat_pop .new_message_alert_wrap .message_txt{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:43px;width:80%;margin-left:15px;padding-left:19px;font-size:13px;font-weight:bold;color:#fff;text-decoration:none;background:url(images/arrow_down.png) no-repeat 0 50%;}

.chat_pop .chat_input{position:fixed;bottom:0;width:100%;height:127px;min-width:400px;}
.chat_pop.on_sticker .chat_input{padding-top:194px;}
.chat_pop .chat_input .chat_btn_wrap{height:38px;margin:0;background:#fafafc;border-top:1px solid #d5d5d8;border-bottom:1px solid #e4e4e7;}
.chat_pop .chat_input .pop_photo{overflow:hidden;position:relative;top:8px;display:inline-block;width:33px;height:33px;margin:0 2px 0 10px;text-indent:-9999px;text-align:center;background:url(images/file.png) no-repeat 100% 0;cursor:pointer;}
.chat_pop .chat_input .pop_photo:hover{cursor:pointer;}
/*.chat_pop .chat_input .pop_photo:hover{background-image:url(images/board/ico_plus_on.png)}*/
.chat_pop .chat_input .pop_photo .find_photo{position:absolute;left:0;top:0;height:33px;width:41px;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(Opacity=0)";cursor:pointer;}
.chat_pop .chat_input .pop_sticker{position:relative;top:1px;display:inline-block;width:23px;height:23px;margin:0 0 0 7px;padding:0;text-indent:-9999px;text-align:center;border:0;background:url(images/skin/write_form_function.png) no-repeat 0 -2px;cursor:pointer;}
*:first-child+html .chat_pop .chat_input .pop_photo,
*:first-child+html .chat_pop .chat_input .pop_sticker{display:inline;}
.chat_pop .chat_input .pop_sticker img{position:relative;top:0;left:0;}
.chat_pop .chat_input .pop_sticker:hover,
.chat_pop.on_sticker .chat_input .pop_sticker{background:url(images/skin/write_form_function.png) no-repeat 0 -44px;}
.chat_pop .chat_input .pop_sticker:hover img,
.chat_pop.on_sticker .chat_input .pop_sticker img{visibility:hidden;}

.chat_pop .sticker_collection .sticker_header .sticker_nav li.on{border-color:#0084ff;}
.chat_pop .sticker_collection .sticker_header .sticker_nav li:hover{border-color:#0084ff;}
.chat_pop .sticker_collection .sticker_collect .sticker_list{padding-top:6px;}
.chat_pop .sticker_collection .sticker_collect .sticker_list li,
.chat_pop .sticker_collection .sticker_collect .sticker_list li .thumb{width:75px;height:70px;}
.chat_pop .sticker_collection .sticker_collect .sticker_list li{margin:0 7px 6px 8px;}
.chat_pop .sticker_collection .sticker_collect .sticker_list li:hover{margin:-1px 6px 5px 7px;border-color:#0084ff;}

.chat_pop .sticker_collection{position:absolute;top:-1px;width:100%;height:194px;overflow:hidden;}
.chat_pop .sticker_collection .sticker_collect{height:156px;}

.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_1{background-position:0px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_2{background-position:-75px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_3{background-position:-150px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_4{background-position:-225px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_5{background-position:-300px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_6{background-position:-375px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_7{background-position:-450px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_8{background-position:-525px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_9{background-position:-600px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_10{background-position:-675px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_11{background-position:-750px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_12{background-position:-825px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_13{background-position:-900px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_14{background-position:-975px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_15{background-position:-1050px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_16{background-position:-1125px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_17{background-position:-1200px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_18{background-position:-1275px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_19{background-position:-1350px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_20{background-position:-1425px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_21{background-position:-1500px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_22{background-position:-1575px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_23{background-position:-1650px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_24{background-position:-1725px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_25{background-position:-1800px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_26{background-position:-1875px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_27{background-position:-1950px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_28{background-position:-2025px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_29{background-position:-2100px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_30{background-position:-2175px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_31{background-position:-2250px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_32{background-position:-2325px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_33{background-position:-2400px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_34{background-position:-2475px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_35{background-position:-2550px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_36{background-position:-2625px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_37{background-position:-2700px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_38{background-position:-2775px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_39{background-position:-2850px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_40{background-position:-2925px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_41{background-position:-3000px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_42{background-position:-3075px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_43{background-position:-3150px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_44{background-position:-3225px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_45{background-position:-3300px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_46{background-position:-3375px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_47{background-position:-3450px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_48{background-position:-3525px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_49{background-position:-3600px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_50{background-position:-3675px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_51{background-position:-3750px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_52{background-position:-3825px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_53{background-position:-3900px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_54{background-position:-3975px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_55{background-position:-4050px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_56{background-position:-4125px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_57{background-position:-4200px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_58{background-position:-4275px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_59{background-position:-4350px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_60{background-position:-4425px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_61{background-position:-4500px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_62{background-position:-4575px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_63{background-position:-4650px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_64{background-position:-4725px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_65{background-position:-4800px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_66{background-position:-4875px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_67{background-position:-4950px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_68{background-position:-5025px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_69{background-position:-5100px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_70{background-position:-5175px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_71{background-position:-5250px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_72{background-position:-5325px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_73{background-position:-5400px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_74{background-position:-5475px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_75{background-position:-5550px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_76{background-position:-5625px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_77{background-position:-5700px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_78{background-position:-5775px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_79{background-position:-5850px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_80{background-position:-5925px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_81{background-position:-6000px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_82{background-position:-6075px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_83{background-position:-6150px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_84{background-position:-6225px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_85{background-position:-6300px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_86{background-position:-6375px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_87{background-position:-6450px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_88{background-position:-6525px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_89{background-position:-6600px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_90{background-position:-6675px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_91{background-position:-6750px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_92{background-position:-6825px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_93{background-position:-6900px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_94{background-position:-6975px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_95{background-position:-7050px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_96{background-position:-7125px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_97{background-position:-7200px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_98{background-position:-7275px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_99{background-position:-7350px 0;}
.chat_pop .sticker_collection .sticker_collect .sticker_list .thumb.stkr_100{background-position:-7425px 0;}

.chat_pop .chat_input .msg_form{position:relative;height:87px;margin:0;padding:0 103px 0 4px;background:#fff;border:0;border-top:0;}
.chat_pop .chat_input .msg_form label{position:absolute;left:16px;top:17px;z-index:1;font-size:14px;color:#adadad;visibility:hidden;}
.chat_pop .chat_input .msg_form .msg_input{position:relative;left:10px;top:15px;width:100%;overflow:auto;height:66px;font-size:14px;border:0;resize:none;outline:none;}
.chat_pop .chat_input .msg_form .msg_sutmit{position:absolute;right:9px;top:7px;bottom:7px;width:70px;padding:4px 6px 5px;font-size:14px;color:#fff;border:0;border-radius:2px;background:#0084ff;cursor:pointer;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(Opacity=0)";}
.chat_pop .chat_input .msg_form.on_ready .msg_sutmit{opacity:1;filter:alpha(opacity=100);-ms-filter:"alpha(Opacity=100)";}

.chat_pop .member_main{position:fixed;left:0;top:51px;bottom:59px;overflow:hidden;overflow-y:scroll;height:auto;width:100%;min-width:400px;}
.chat_pop.member_search .member_main{top:126px;}
.chat_pop .member_main .member_list{padding-bottom:54px;}
.chat_pop .member_main .member_list li{position:relative;height:74px;border-bottom:1px solid #efefef;}
.chat_pop .member_main .member_list li:first-child{margin:0;padding:0;background-image:none;}
.chat_pop .member_main .member_list li .profile{position:absolute;top:15px;left:20px;}
.chat_pop .member_main .member_list li .member_name{display:inline-block;padding-left:78px;line-height:74px;font-size:14px;color:#000;}
.chat_pop .member_main .member_list li .go_chat{position:absolute;right:19px;top:30px;height:24px;padding-left:33px;line-height:20px;color:#858585;}
.chat_pop .member_main .member_list li .check_wrap{position:absolute;top:26px;right:41px;}
.chat_pop .member_main .member_list li .check_wrap input{position:absolute;z-index:1;top:6px;}
.chat_pop .member_main .member_list li .check_wrap label{display:inline-block;text-indent:-9999px;vertical-align:middle;}
.chat_pop .member_main .member_list li .check_wrap .check_label_fake{position:relative;margin:0;}
.chat_pop .member_main .member_list li .check_wrap .checkbox_fake{cursor:pointer;position:absolute;width:22px;height:22px;top:0;left:0;}
.chat_pop .member_main .member_list li .check_wrap .checkbox_fake::after{content:'';position:absolute;z-index:2;width:22px;height:22px;background:url(images/member_check.png) no-repeat 0 0;top:0;left:0;}
.chat_pop .member_main .member_list li .check_wrap input[type=checkbox]:checked + label .checkbox_fake{z-index:2;background:url(images/member_checked.png) no-repeat 0 0;}
.chat_pop .member_main .member_list li .check_wrap input[type=checkbox]:checked + label .checkbox_fake::after{visibility:hidden;}

.chat_pop .selected_member{position:fixed;left:0;right:0;bottom:59px;z-index:2;height:75px;min-width:400px;padding:0 35px;border-top:1px solid #54545e;border-bottom:1px solid #45454e;background:#585862;}
.chat_pop .selected_member .btn_preview{position:absolute;top:1px;left:0;width:40px;height:75px;margin:0;padding:0;border:0;cursor:default;}
.chat_pop .selected_member .btn_next{position:absolute;top:1px;right:0;width:40px;height:75px;margin:0;padding:0;border:0;cursor:default;}
.chat_pop .selected_member .profile_list_wrap{position:relative;top:7px;overflow:hidden;width:100%;height:49px;margin:0;}
.chat_pop .selected_member ul{overflow:hidden;position:relative;width:auto;height:49px;white-space:nowrap;}
.chat_pop .selected_member li{position:relative;display:inline-block;padding:11px 4px 0 5px;}
*:first-child+html .chat_pop .selected_member li{display:inline;}
.chat_pop .selected_member li .uncheck{position:absolute;right:0;top:3px;}

.chat_pop .confirm_box{position:fixed;left:0;bottom:0;width:100%;height:58px;border-top:1px solid #d5d5d8;text-align:center;}
.chat_pop .confirm_box button{display:inline-block;height:38px;margin:10px 2px 0;padding:0 30px;line-height:38px;border:0;background:none;border-radius:2px;color:#fff;text-align:center;cursor:pointer;}
*:first-child+html .chat_pop .confirm_box button{display:inline;}
.chat_pop .confirm_box .btn_confirm{background:#0084ff;border:1px solid #0084ff;border-top:0;border-left:0;}
.chat_pop .confirm_box .btn_cancel{background:#a1a1a9;border:1px solid #9999a0;border-top:0;border-left:0;}

.layer_body .chat_pop{width:auto;height:100%;min-height:451px;margin:0 4px;}
.layer_body .chat_pop .status_bar{position:absolute;height:74px;}
.layer_body .chat_pop .pop_form{top:0;border-top:0;}
.layer_body .chat_pop .status_bar strong{display:none;}
.layer_body .chat_pop .member_main{position:absolute;top:0;left:0;margin-top:75px;}
.layer_body .chat_pop .member_main .member_list li{text-align:left;}
.layer_body .chat_pop .selected_member{position:absolute;top:auto;left:0;bottom:58px;min-width:350px;}
.layer_body .chat_pop .confirm_box{position:absolute;top:auto;left:0;bottom:0;background-color:#fff;}

.new_chat_layer .dim{position:absolute;}
.new_chat_layer .chat_pop .member_main{overflow:hidden;}
.new_chat_layer .mCSB_container{margin:0;}